@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    
    
}

<div class="carousel-wrapper">
  <div class="owl-carousel owl-theme">
    <div class="item">
            <img src="/Images/MN673.jfif" alt="..."/>
            <p class="item-name"></p>
            <p class="item-price"></p>
        </div>
        <div class="item">
            <img src="/Images/MN673.jfif" alt="..."/>
            <p class="item-name"></p>
            <p class="item-price"></p>
        </div>
        <div class="item">
            <img src="/Images/MN673.jfif" alt="..."/>
            <p class="item-name"></p>
            <p class="item-price"></p>
        </div>
        <div class="item">
            <img src="/Images/MN673.jfif" alt="..."/>
            <p class="item-name"></p>
            <p class="item-price"></p>
        </div>
         <div class="item">
            <img src="/Images/MN673.jfif" alt="..."/>
            <p class="item-name"></p>
            <p class="item-price"></p>
        </div>
        <div class="item">
            <img src="/Images/MN673.jfif" alt="..."/>
            <p class="item-name"></p>
            <p class="item-price"></p>
        </div>
  </div>
</div>

 <div class="carousel-wrapper">
  <div class="owl-carousel owl-theme">
    <div class="category-item">
            <img src="/Images/MN673.jfif" alt="..."/>
            <p class="item-name"></p>
            <p class="item-price"></p>
        </div>
        <div class="category-item">
            <img src="/Images/MN673.jfif" alt="..."/>
            <p class="item-name"></p>
            <p class="item-price"></p>
        </div>
        <div class="category-item">
            <img src="/Images/MN673.jfif" alt="..."/>
            <p class="item-name"></p>
            <p class="item-price"></p>
        </div>
        <div class="category-item">
            <img src="/Images/MN673.jfif" alt="..."/>
            <p class="item-name"></p>
            <p class="item-price"></p>
        </div>
         <div class="category-item">
            <img src="/Images/MN673.jfif" alt="..."/>
            <p class="item-name"></p>
            <p class="item-price"></p>
        </div>
        <div class="category-item">
            <img src="/Images/MN673.jfif" alt="..."/>
            <p class="item-name"></p>
            <p class="item-price"></p>
        </div>
  </div>
</div>